* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-theme: rgb(255, 255, 255);
    --font-color: rgb(0, 0, 0);
    --sidebar-bg: rgb(255, 223, 172);
}

body {
    font-size: 1rem;
    line-height: 1.7;
    color: var(--font-color);
    background: var(--main-theme);

    min-block-size: 100dvh;

    display: grid;
    grid-template-columns:
        5rem 1fr;
}

img {
    max-inline-size: 100%;
}

h1 {
    font-size: 1.75rem;
    line-height: 1.5;
}

.sidebar {
    background-color: var(--sidebar-bg);
}

.logo {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    line-height: 1.5;
    color: var(--font-color);
}

.main {
    padding: 1.25rem;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-auto-rows: 12rem;
    gap: 2rem;
    grid-auto-flow: dense;
}

.gallery figure:hover img {
    scale: 1.25;
}


.gallery figure {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr);
    overflow: hidden;
}

.gallery img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    grid-area: 1 / 1 / -1 / -1;

    transition: scale 1s ease-in-out;
}

.gallery figcaption {
    grid-area: 1 / 1 / -1 / -1;
    z-index: 1;
    color : rgb(253, 242, 242);
    align-self: end;
}


@media (width > 600px) {


    .gallery figure:nth-child(1) {
        grid-area: span 2 / span 2;
    }

    .gallery figure:nth-child(4n+1) {
        grid-row: span 2;
    }

    .gallery figure:nth-child(4n+2) {
        grid-column: span 2;
    }

}